<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="container">
    <div class="row">
      <!-- 회사 정보 / 주소 -->
      <div class="col-md-4">
        <h5>Traveloper</h5>
        <div style="font-size: 13px; color: #aaaaaa">주소: 경기도 성남시 분당구 </div>
        <div style="font-size: 13px; color: #aaaaaa">연락처: 02-1234-5678</div>
      </div>

      <div class="col-md-4">
        <h5>Link</h5>
        <ul class="nav flex-column">
          <li class="nav-item" style="font-size: 13px; color: #aaaaaa"><a href="#" class="nav-link p-0 text-muted">홈</a></li>
          <li class="nav-item" style="font-size: 13px; color: #aaaaaa"><a href="#" class="nav-link p-0 text-muted">서비스</a></li>
          <li class="nav-item" style="font-size: 13px; color: #aaaaaa"><a href="#" class="nav-link p-0 text-muted">문의하기</a></li>
        </ul>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-md-end">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-4">
      <p class="text-muted">© 2024 Traveloper. All rights reserved.</p>
    </div>
  </div>
</footer>

</html>