<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 코스 제작</title>
    <!-- 여기에 필요한 CSS 링크를 추가할 수 있습니다 -->
    <link rel="stylesheet" type="text/css" href="/css/sample-course-create.css">
</head>
<body>
<!-- 컨테이너 -->
<div class="container">
    <!-- 여행지 검색창 -->
    <div class="search-container">
        <input type="text" id="search" name="search" placeholder="여행지를 검색하세요">
        <button onclick="searchPlaces()">검색</button>
    </div>


    <!-- 여행지 리스트 -->
    <div id="places-list">
        <!-- 검색 결과 및 페이지 번호 표시 -->
        <div id="search-info">
            <h3 id="search-results-title">검색 결과</h3>
            <p id="page-info">총 <span id="total-results">0</span> 개의 결과 중 <span id="start-result">0</span> - <span id="end-result">0</span></p>
            <ul id="search-results">
                <!-- 검색 결과가 여기에 동적으로 추가됩니다 -->
            </ul>
            <!-- 페이지 번호 표시 -->
            <div id="page-numbers"></div>
        </div>

        <!-- 모달 창 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>상세 정보</h2>
                <div id="modal-body">
                    <!-- 여기에 상세 정보를 동적으로 추가할 수 있습니다 -->
                </div>
            </div>
        </div>

        <h3>선택한 여행지</h3>
        <ul id="selected-places">
            <!-- 여행지가 선택되면 여기에 동적으로 추가됩니다 -->
        </ul>
    </div>

    <!-- 지도 -->
    <div id="map">
        <script type="text/javascript" th:src="@{https://oapi.map.naver.com/openapi/v3/maps.js(ncpClientId=${clientId})}"></script>
    </div>
</div>

<!-- 필요한 JavaScript 코드를 추가할 수 있습니다 -->
<script th:src="@{/js/sample-course-create.js}"></script>
</body>
</html>
